/* .container {
    margin: 100px 190px;
    padding-right: 15px;
    padding-left: 15px;
}*/
/* 
.s1 {
    width: 100px;
    height: 100px;
}  */
.logo {
    display: block;
    margin-left: 200px;
    margin-top: 50px;
}

.header {
    font-size: 400px;
}