.logo {
    display: block;
    margin-left: 200px;
    margin-top: 50px;
}
.gheadline {
    padding: 100px 200px; 
    font-size: 100px; 
    font-weight: 700;
    color: rgba(9, 255, 0, 0.692);
}
.bheadline {
    font-size: 70px; 
    font-weight: 500; 
    color: rgba(14, 6, 6, 0.815);
}

.navbar-nav {
    margin-left: auto;
}
/* background colors */
.gbcolor {
    background-color: rgba(9, 255, 0, 0.692);
}
.bbcolor {
    background-color: rgba(14, 6, 6, 0.815);
}
/* forground Colors */
.gfcolor {
    color: rgba(9, 255, 0, 0.692);
}

.bfcolor {
    color: rgba(14, 6, 6, 0.815);
}
/* whitesmoke color */
.wsfcolor {
    color: whitesmoke;
}
.wsbcolor {
    background-color: whitesmoke;
}
.footertxtcolor {
    color:rgba(255, 248, 220, 0.418);
}